* {
  box-sizing: border-box;
}

header {
  text-align: center;
  font-size: larger;
  border-bottom: 1px solid black;
}
.container {
  width: 850px;
  height: 450px;
  border: 1px solid black;
  margin: 50px auto;
  position: relative;
}
button {
  width: 40px;
  height: 40px;
  font-size: larger;
  position: absolute;
  top: calc(50% - (20px / 2));
  border: none;
}
button:hover, .circle:hover {
  background-color: darkgray;
  cursor: pointer;
}
.next {
  right: 0;
}
.circles-container {
  width: fit-content;
  height: fit-content;
  display: flex;
  position: absolute;
  bottom: 8px;
  left: calc(50% - (99px / 2));
}
.circle {
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 50%;
  margin-inline: 0.4em;
}
.slideshow-container {
  border: 1px solid black;
  width: calc(100% - 80px);
  height: calc(100% - 40px);
  margin:  10px auto;
}
